<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<!--    设置别名-->
    <typeAliases>
        <package name="com.dilo.domain"/>
    </typeAliases>

    <!-- sql mapper(sql映射文件)的位置-->
    <mappers>
<!--        name:是包名，这个包中所有的mapper。xml文件一次都能加载-->
        <package name="com.dilo.dao"/>
    </mappers>
</configuration>
