<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="Student" class="com.dilo.ba04.Student">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="age" value="56"/>
        <constructor-arg name="school" ref="myschool"/>

    </bean>

    <bean name="myschool" class="com.dilo.ba04.School">
      <constructor-arg name="name" value="大学"/>
        <constructor-arg name="address" value="北京"/>

    </bean>




</beans>

