<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.dilo.ba03.Student">

        <constructor-arg name="age" value="26"/>
        <constructor-arg name="name" value="tom"/>
        <constructor-arg name="school" ref="school"/>
<!--        <property name="age" value="15"/>-->
<!--        <property name="name"  value="张三"/>-->
<!--        <property name="school" ref="school"/>-->
    </bean>

    <bean id="school" class="com.dilo.ba03.School">

        <constructor-arg name="name" value="北京大学"/>
        <constructor-arg name="address" value="北京"/>
<!--        <property name="name" value="清华大学"/>-->
<!--        <property name="address" value="北京"/>-->
    </bean>

<!--    使用index属性-->
    <bean id="studentIndex" class="com.dilo.ba03.Student">
        <constructor-arg index="0" value="王五"/>
        <constructor-arg index="1" value="58"/>
        <constructor-arg index="2" ref="school"/>
    </bean>

<!--    index 属性可以省略,属性顺序和构造器中顺序一致-->
    <bean id="studentIndex2" class="com.dilo.ba03.Student">
        <constructor-arg value="三丰"/>
        <constructor-arg value="14"/>
        <constructor-arg ref ="school"/>
    </bean>
</beans>

<!--
2.构造注入：spring调用类有参数构造方法，在创建对象的同时，在构造方法中给属性赋值。
          构造注入使用 <constructor-arg> 标签
          <constructor-arg> 标签：一个<constructor-arg>表示构造方法一个参数。
          <constructor-arg> 标签属性：
             name:表示构造方法的形参名
             index:表示构造方法的参数的位置，参数从左往右位置是 0 ， 1 ，2的顺序
             value：构造方法的形参类型是简单类型的，使用value
             ref：构造方法的形参类型是引用类型的，使用ref-->