<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>是否同意: <input type="checkbox" name="" id="" v-model="ok">{{ok}}</div>

        <div v-if="ok">同意</div>
        <div v-if="!ok">查看协议.....</div>


        <br>
        <div>是否同意2: <input type="checkbox" name="" id="" v-model="ok">{{ok}}</div>

        <div v-show="ok">同意</div>
        <div v-show="!ok">查看协议.....</div>
        
        
    </div>

    <script src="vue.min.js"></script>
    <script>
        let app = new Vue({
            el:'#app',
            data:{
                ok:false
            }

        })


    </script>
    
</body>
</html>