<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>标准变量表达式${}</h1>
用户ID:<span th:text="${user.id}"></span><br/>
用户姓名:<span th:text="${user.name}"></span><br/>
用户年龄:<span th:text="${user.age}"></span><br/>


<h1>选择变量表达式(型号表达式):*{}</h1>
<!--*{}必须使用 th : object属性来绑定这个对象
        在div子标签中中使用 * 来代替绑定的用户对象${user}
-->

<div th:object="${user}">
    用户编号:<span th:text="*{id}"></span><br>
    用户姓名:<span th:text="*{name}"></span><br>
    用户年龄:<span th:text="*{age}"></span><br>
</div>
<h1>混合表达式</h1>
用户ID:<span th:text="*{user.id}"></span><br/>
用户姓名:<span th:text="*{user.name}"></span><br/>
用户年龄:<span th:text="*{user.age}"></span><br/>
混合使用不推荐,星号表达式不推荐,推荐使用标准表达式
</body>
</html>